<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.zcjlmodule"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".ui.activity.login.ModuleMainActivity" />
        <activity android:name=".ui.activity.HomeZcActivity" />
        <activity android:name=".ui.activity.paydetail.PayDetailedlistZcActivity" />
        <activity android:name=".ui.activity.paydetail.PayCheckZcActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity android:name=".ui.activity.original.OriginalZcActivity" />
        <activity android:name=".ui.activity.original.PeriodsQueryZcActivity" />
        <activity android:name=".ui.activity.original.NewAddOriginalZcActivity" />
        <activity android:name=".ui.activity.original.enclosure.ChoiceProjectZcActivity" />
        <activity android:name=".ui.activity.original.enclosure.ChoiceBidsZcActivity" />
        <activity android:name=".ui.activity.original.enclosure.ChoiceHeadquartersZcActivity" />
        <activity android:name=".ui.activity.original.enclosure.StandardDecomposeZcActivity" />
        <activity android:name=".ui.activity.original.enclosure.DismantlingtypequeryZcActivity" />
        <activity android:name=".ui.activity.original.enclosure.ApplyDateZcActivity" />
        <activity android:name=".ui.activity.dismantling.StandardDismantlingZcActivity" />
        <activity android:name=".ui.activity.dismantling.UnknitstandardActivity" />
        <activity android:name=".ui.activity.dismantling.ExamineDismantlingActivity" />
        <activity android:name=".ui.activity.mine.PasswordActivity" />
        <activity android:name=".ui.activity.mine.UserOrgZcActivity" />
        <activity android:name=".ui.activity.mine.ChangeorganizeZcActivity" />
    </application>

</manifest>